# Use Case 2: What network connectivity to use in a model?  

How does connectivity of natural and built infrastructure components compare in a particular area across datasets? 

#### By Adel M. Abdallah, Utah State University, December 2018

This notebook demonstrates basic WaMDaM use cases analysis using scientific Python libraries such as [pandas](https://pandas.pydata.org/) and [plotly](https://plot.ly/).  It reads WaMDaM SQLite data from a published HydroShare Generic Resource, runs SQL script, and them uses Python plotly to visualize the results


Execute the following cells by pressing `Shift-Enter`, or by pressing the play button 
<img style='display:inline;padding-bottom:15px' src='play-button.png'>
on the toolbar above.



This use case identifies three models connectives for Hyrum Reservoir, UT 

  <img src="https://github.com/WamdamProject/WaMDaM-software-ecosystem/blob/master/mkdocs/Edit_MD_Files/QuerySelect/images/networks.png?raw=true" style="float:center">
  <h3><center>**Figure x:** WaMDaM Paper</center></h3>


### Steps to reproduce this use case results and plots 

1. [Import python libraries](#Import) 

2. [Connect to the WaMDaM populated SQLite file](#Connect) 

3. [Get network connections at Hyrum Reservoir, Utah](#NetworkAtHyrum)

4. [Get network connections at Hyrum Reservoir, Utah](#NetworkAtHyrum)

5. [Get network connections at Bear River Migratory Bird Refuge, Utah](#NetworkAtRefuge)

6. [Get network connections at Shasta Reservoir, California](#NetworkAtShasta)

7. [Close the SQLite connection](#Close)

<a name="Import"></a>
# 1. Import python libraries

In [1]:
# 1. Import python libraries 

import os
import csv
from collections import OrderedDict
import sqlite3
import pandas as pd
import numpy as np
from IPython.display import display, Image, SVG, Math, YouTubeVideo
import urllib

print 'The libraries are imported'

The libraries are imported

<a name="Connect"></a>
# 2. Connect to the WaMDaM populated SQLite file

In [2]:
# 2. Connect to the WaMDaM populated SQLite file 

# Then we can run queries against it within this notebook :)  

# Change the name here into your database name (e.g., ReplicateWaMDamDb.SQLite)
WaMDaM_SQLite_Name='BearRiverDatasets_Dec2018.sqlite'

# WaMDaM_SQLite_Name='replicateWaMDaM.sqlite'


conn = sqlite3.connect(WaMDaM_SQLite_Name)

print 'Connected to the WaMDaM SQLite file called'+': '+ WaMDaM_SQLite_Name

Connected to the WaMDaM SQLite file called: BearRiverDatasets_Dec2018.sqlite

<a name="NetworkAtHyrum"></a>
# 3. Get network connections at Hyrum Reservoir, Utah

In [3]:
# Get network connctions at Hyrum Reservoir, Utah

Query_connect_URL="""
https://raw.githubusercontent.com/WamdamProject/WaMDaM_UseCases/master/4_Queries_SQL/UseCase2/1_FindNodeLinkInstances_Hyrum.sql
"""
# Read the query text inside the URL
Query_connect_text = urllib.urlopen(Query_connect_URL).read()
# return query result in a pandas data frame
result_df_connect= pd.read_sql_query(Query_connect_text, conn)

# print the dataframe to inspect it    
# display (result_df_connect) 
print "Queries are done"
# Save the datafrom as a csv file into the Jupyter notebook working space
result_df_connect.to_csv('UseCases_Results_csv\Hyrum_connect.csv', index = False)

column_name = "ScenarioName"

subsets = result_df_connect.groupby(column_name)
print '------------------------------------------------'
for subset in subsets.groups.keys():
    #print subset
    dt = subsets.get_group(name=subset)
    print 'Replcate the table with links, start and end nodes for each model to plot Figure 4 in the WaMDaM paper'  
    display (dt)

Queries are done
------------------------------------------------
Replcate the table with links, start and end nodes for each model to plot Figure 4 in the WaMDaM paper

,ResourceTypeAcronym,ScenarioName,LinkInstanceName,LinkObjectType,ObjectTypeCV,StartEndNode,StartInstanceLong,StartLatitude_y,StartNodeObjectType,EndNodeInstance,EndStartInstanceLong,EndLatitude_y,EndNodeObjectType
0,WASH,OneYear,j29j27,DiversionExist,Diversion,j29,-111.860,41.6203,v,j27,-111.862,41.6780,dem
1,WASH,OneYear,j29j28,DiversionExist,Diversion,j29,-111.860,41.6203,v,j28,-111.898,41.6820,dem
2,WASH,OneYear,j29j44,DiversionExist,Diversion,j29,-111.860,41.6203,v,j44,-111.962,41.6320,dem
3,WASH,OneYear,j29j24,envSiteExist,Stream,j29,-111.860,41.6203,v,j24,-111.946,41.7429,j
4,WASH,OneYear,j32j29,envSiteExist,Stream,j32,-111.821,41.5279,j,j29,-111.860,41.6203,v
5,WASH,OneYear,j41j29,returnFlowExist,Return flow,j41,-111.769,41.5890,dem,j29,-111.860,41.6203,v
6,WASH,OneYear,j42j29,returnFlowExist,Return flow,j42,-111.822,41.5990,dem,j29,-111.860,41.6203,v

<a name="Reproduce"></a>
# 4. Reproduce the plot above?

#### Use Microsoft Visio or any other charting software like Lucidchart to plot the node of interest and all the lines that connet to it.

<a name="NetworkAtRefuge"></a>
# 5. Get network connctions at Bear River Migratory Bird Refuge, Utah

<font color=green>Bonus use case not reported in the WaMDaM paper</font>

In [4]:
# query connectivity at the Bear River Migratory Bird Refuge, Utah
Query_connect_URL="""
https://raw.githubusercontent.com/WamdamProject/WaMDaM_UseCases/master/4_Queries_SQL/UseCase2/2_FindNodeLinkInstances_refuge.sql
"""
# Read the query text inside the URL
Query_connect_text = urllib.urlopen(Query_connect_URL).read()
# return query result in a pandas data frame
result_df_connect= pd.read_sql_query(Query_connect_text, conn)

# print the dataframe to inspect it    
# display (result_df_connect) 

# Save the datafrom as a csv file into the Jupyter notebook working space
result_df_connect.to_csv('UseCases_Results_csv\BirdRefuge_connect.csv', index = False)


column_name = "ScenarioName"

subsets = result_df_connect.groupby(column_name)
print '------------------------------------------------'
for subset in subsets.groups.keys():
    #print subset
    dt = subsets.get_group(name=subset)
    print 'Get the links, start and end nodes for each model to plot connections to the Refuge'  
    display (dt)

------------------------------------------------
Get the links, start and end nodes for each model to plot connections to the Refuge

,ResourceTypeAcronym,ScenarioName,LinkInstanceName,LinkObjectType,ObjectTypeCV,StartEndNode,StartInstanceLong,StartLatitude_y,StartNodeObjectType,EndNodeInstance,EndStartInstanceLong,EndLatitude_y,EndNodeObjectType
0,WASH,OneYear,j20j21,envSiteExist,Stream,j20,-112.117,41.5861,j,j21,-112.143,41.4910,j
1,WASH,OneYear,j21j23,envSiteExist,Stream,j21,-112.143,41.4910,j,j23,-112.222,41.4747,j

<a name="NetworkAtShasta"></a>
# 6. Get network connctions at Shasta Reservoir, California	
<font color=green>Bonus use case not reported in the WaMDaM paper</font>

In [6]:
# Get network connctions at Shasta Reservoir, California	

# query connectivity at the Shasta Reservoir, California
Query_connect_URL="""
https://raw.githubusercontent.com/WamdamProject/WaMDaM_UseCases/master/4_Queries_SQL/UseCase2/3_FindNodeLinkInstances_Shasta.sql
"""
# Read the query text inside the URL
Query_connect_text = urllib.urlopen(Query_connect_URL).read()
# return query result in a pandas data frame
result_df_connect= pd.read_sql_query(Query_connect_text, conn)

# print the dataframe to inspect it    
# display (result_df_connect) 

# Save the datafrom as a csv file into the Jupyter notebook working space
result_df_connect.to_csv('UseCases_Results_csv\Shasta_connect.csv', index = False)


display (result_df_connect)

print "Queries are done"

,ResourceTypeAcronym,ScenarioName,LinkInstanceName,LinkObjectType,ObjectTypeCV,StartEndNode,StartInstanceLong,StartLatitude_y,StartNodeObjectType,EndNodeInstance,EndStartInstanceLong,EndLatitude_y,EndNodeObjectType
0,CALVIN,Base Case,"SR_SHA,D5",Calvin Link,None,SR_SHA,40.716872,-122.418122,Surface Storage,D5,40.612004,-122.446023,Junction

Queries are done

<a name="Close"></a>
# 7. Close the SQLite connection

In [7]:
conn.close()

print 'connection disconnected'

connection disconnected

# The End :) Congratulations, you have replicated this use case!